/* TODO: Make it awesome */
* {

padding-block: 15px;
margin-inline: 10px;

}


nav {
text-decoration: none;
padding-block: 15px;

}

body {
font-size: 110%;
padding: 20px;
background-color: black;
color: wheat;

}


th {
  border: 1px solid #999;
  padding: 0.7rem;
  text-align: left;
  color: rgb(255, 255, 255);
}

td {
  border: 1px solid #999;
  padding: 0.7rem;
  text-align: left;
  color: rgb(0, 0, 0);
}

table {
  border-collapse: collapse;
  border-spacing: 0.5rem;
}

li {
margin-bottom: 15px;

}



td:nth-child(1) { background: hsl(150, 50%, 50%); }
td:nth-child(2) { background: hsl(180, 80%, 50%); }
td:nth-child(3) { background: hsl(200, 99%, 50%); }



